**/slicpp
**/main
**/a.out
**/lisp_like

**/cmake_install.cmake
**/CTestTestfile.cmake
**/Makefile
**/CMakeCache.txt
**/DartConfiguration.tcl
**/Testing
**/build
**/CMakeFiles
**/.vscode

.idea/
**/*.cbp
**/*cmake*
**/*OLD*CMake*
